{{ define "main" }}
  <article>
    <h1>{{ .Title }} {{ .Site.Params.subtitle }}</h1>
    <ul class="posts-list">
      {{ $pages := .Paginator.Pages }}
      {{ range .Site.Home.Translations }}
      {{ $pages = $pages | lang.Merge .Paginator.Pages }}
      {{ end }}

      {{ range $index, $element := $pages }}
        <li class="posts-list-item">
          <a class="posts-list-item-title" href="{{ .Permalink }}">{{ .Title }}</a>
          <span class="posts-list-item-description">
            {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}
            {{ .ReadingTime }} {{ i18n "minutes" }} {{ i18n "read" }} -
            {{ .Date.Day }} {{ i18n .Date.Month }} {{ .Date.Year }}
          </span>
        </li>
      {{ end }}
    </ul>
    {{ partial "pagination.html" $ }}
  </article>
{{ end }}
